
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error 404</title>
    @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css">*@
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/error.css" asp-append-version="true" />


</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <span class="span1">4</span>
                <div class="pelota"></div>
                <span class="span2"> 4</span>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mnserror">

                <h3 class="text-center">
                    pagína no disponible
                </h3>
                <span class="carita">:( </span>
                <h2 class="text-center">Volver a</h2>
                <center>
                <a class="btn btn-link" href="/home/index">la copa del Mundo</a>
               </center>

            </div>
        </div>
    </div>
</body>
</html>