
@{
    ViewData["Title"] = "Noticias";
    Layout = "~/Views/Inicio/Principal.cshtml";
}


<div class="container Noticias">
    <div class="row">
        <div class="grafico"> <h2 class="titulo">@ViewData["title"]</h2></div>

        <hr class="linea" />
        <div class="col-md-8">
            <h3>
                ¡Doblete de Musa! Nigeria derrotó 2-0 a Islandia
                <small>El equipo africano logró anotar por intermedio de su delantero estrella, la figura del partido.</small>
            </h3>
            <p class="text-left lead">
                Tras la derrota de Argentina 0-1 contra Croacia, el encuentro entre Nigeria vs. Islandia se convierte de .<strong>vital importancia </strong> para los intereses del Grupo D del Mundial de Rusia 2018.  El encuentro se disputará en el Estadio Volgogrado Arena.
            </p>
            <div class="row">
                <div class="col-xs-7 col-md-12">
                    <a href="#" class="thumbnail">
                        <img src="~/images/musa.jpeg" alt="musa">
                    </a>
                   
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <h3 class="text-left">Otras noticias</h3>
            <ul class="list-group">
                <li class="list-group-item"><a class="btn btn-link" href="#">Resultados Mundial rusia 2018</a></li>
                <li class="list-group-item"><div class="publicidad pub-num1"></div></li>
                <li class="list-group-item">Resultados de Hoy<a class="btn btn-link" href="/Home/Resultados">leer más</a></li>
                <li class="list-group-item">¿Se lo meressi?<a class="btn btn-link" href="#">leer más</a>
                
                
                </li>
                <li class="list-group-item">Los durísimos tuits de Liberman tras la catástrofe de la selección
                    <a href="#">más</a>
                </li>
                <li class="list-group-item"><a class="btn btn-link" href="#">Goleadores</a></li>
           
                
            </ul>

        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</div>

<br />
<br />
<br />
<br />
<br />
<br />
