
@{
    ViewData["Title"] = "vivo";
    Layout = "~/Views/Inicio/Principal.cshtml";
}

<div id="minuto" class="container-fluid">
   
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <h3 class="titulo">Partidos en @ViewData["Title"]</h3>
            <div class="responsive-video">
                <iframe src="http://canalesbrok.blogspot.com/p/telemundohd1.html" allowfullscreen></iframe>


            </div>
            
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="well well-sm">
                <p>Todos los partidos <a class="text-link" href="http://www.supertelevisionhd.com/" target="_blank">Aquí</a></p>
            </div>
          
        </div>

    </div>
</div>



